@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")

@{
    var homePageCss = String.Empty;
    var missingHomePageSlider = String.Empty;
    var homePageMainSliderHtml = String.Empty;

    var controllerName = Url.ActionContext.RouteData.Values["controller"].ToString();
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase);
    if (isHomePage)
    {
        homePageCss = "fullscreen";
        var homePageMainSlider = await Component.InvokeAsync("Widget", new { widgetZone = "home_page_main_slider" });
        homePageMainSliderHtml = homePageMainSlider.ToHtmlString();

        if (String.IsNullOrEmpty(homePageMainSliderHtml))
        {
            missingHomePageSlider = "no-slider";
        }
    }

}

<div class="master-wrapper-page @homePageCss @missingHomePageSlider">
    <script asp-location="Footer">
        AjaxCart.init(false, '.cart-wrapper .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
    <div class="overlayOffCanvas"></div>
    @await Component.InvokeAsync("AdminHeaderLinks")
    @await Html.PartialAsync("_Header")

    <div id="main-menu" class="wa-main-menu">
        <!-- Menu -->
        <div class="wathemes-menu relative">
            <!-- navbar -->
            <div class="navbar navbar-default navbar-bg-dark" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-8 col-xs-12">
                            <div class="navbar-header">
                                <!-- Button For Responsive toggle -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                @*<div class="icons-section boxx pull-right">
                                    <ul>
                                        <li class="hidden-xs hover-mini-cart">
                                            @await Component.InvokeAsync("FlyoutShoppingCart")
                                        </li>
                                    </ul>
                                </div>*@
                                @*<a class="navbar-brand hidden-sm hidden-md hidden-lg logo-second" href="index.html">
                                    <img class="site_logo" alt="Site Logo" src="/images/thumbs/0000111.png">
                                </a>*@
                            </div>
                            <!-- Navbar Collapse -->
                            <div class="navbar-collapse pad-top10  header-menu">
                                @{
                                    var menu = await Component.InvokeAsync("Widget", new { widgetZone = "theme_header_menu" });
                                }
                                @if (String.IsNullOrEmpty(menu.ToHtmlString()))
                                {
                                    @await Component.InvokeAsync("TopMenu")
                                }
                                else
                                {
                                    @menu
                                }
                            </div>
                            <!-- nkavbar-collapse -->
                        </div>
                        <div class="col-md-5 col-sm-4 col-xs-9 hidden-xs">
                            <div class="icons-section pad-top10  pull-right" style="direction:ltr">
                                <ul>
                                    <li class="search-box1 hidden-xs">
                                        @await Component.InvokeAsync("SearchBox")
                                    </li>
                                    <li class="hidden-xs login-box-man">
                                        @await Component.InvokeAsync("HeaderLinks")
                                    </li>
                                    <li class="hidden-xs hover-mini-cart">
                                        @await Component.InvokeAsync("FlyoutShoppingCart")
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-md-12 -->
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- navbar -->
        </div>
        <!--  Menu -->
    </div>

    @if (isHomePage)
    {
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageTop })
    }
    <div class="master-wrapper-content">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>

        @Html.Raw(homePageMainSliderHtml)

        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
    </div>

    @await Component.InvokeAsync("Footer")
</div>

@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
@*<script asp-location="Footer">
    $(document).ready(function () {
        $('.header').on('mouseenter', '#topcartlink', function () {
            $('#flyout-cart').addClass('active');
        });
        $('.header').on('mouseleave', '#topcartlink', function () {
            $('#flyout-cart').removeClass('active');
        });
        $('.header').on('mouseenter', '#flyout-cart', function () {
            $('#flyout-cart').addClass('active');
        });
        $('.header').on('mouseleave', '#flyout-cart', function () {
            $('#flyout-cart').removeClass('active');
        });
    });
</script>*@
